<div style="margin: 2em">
    <div>
        <span ng-repeat="p in breadcrumbs">
            <a ng-href="{{ p.href }}">{{ p.title }}</a>
            <span ng-show="!$last">>></span>
        </span>
    </div>
    <div style="float: right">
        <button ng-click="load_data()">Load Data</button>
    </div>
    <h1>{{ traverser.context.title }}</h1>

    <p>This part is from <code>partials/layout.html</code> and is
        bound to the <code>layout_state</code>, which also binds to
        the <code>LayoutView</code> controller.</p>

    <div style="margin: 2em" ui-view/>
</div>