<div style="margin: 2em">
    <p>
        Menu: <a ng-href="#/">{{traverser.root.title}}</a> |
        <span ng-repeat="m in traverser.root.items">
          <a ng-href="#/{{m.name}}">{{m.title}}</a>
          <span ng-show="!$last"> | </span>
        </span>
    </p>

    <div>
        <span ng-repeat="p in breadcrumbs">
            <a ng-href="#/{{ p.name }}">{{ p.title }}</a>
            <span ng-show="!$last">>></span>
        </span>
    </div>
    <div style="float: right">
        <button ng-click="load_data()">Load Data</button>
    </div>
    <h1>{{ traverser.context.title }}</h1>

    <p>This part is from <code>partials/layout.html</code> and is
        bound to the <code>layout_state</code>, which also binds to
        the <code>LayoutView</code> controller.</p>

    <div style="margin: 2em" ui-view/>
</div>