<div>
    <div class="pull-right">
        <a class="btn btn-primary"
           ng-href="{{ traverser.resource_url(traverser.context, 'adddocument') }}"
                >
            Add Document
        </a>
    </div>
    <h1>Folder View: {{ traverser.context.title }}</h1>

    <p>Example of using a template associated with a state.</p>

    <ul>
        <li ng-repeat="child in traverser.context.items">
            <a ng-href="{{traverser.resource_url(child)}}">
                {{ child.title }}
            </a>
        </li>
    </ul>

</div>